database/procedures/get_job_settings.sql
database/procedures/get_job.sql
database/procedures/insert_job_log.sql
database/procedures/set_job_configuration_settings.sql
database/procedures/set_job_state.sql
database/procedures/upsert_azure_monitor.sql
database/scripts/az_monitor_compare.sql
database/scripts/azure_usage_monitor/cost_by_product_wtd.sql
database/tables/azure_monitor.sql
database/tables/job_configuration.sql
database/tables/job_log.sql
database/tables/job.sql
database/views/azure_monitor_view.sql
scripts/token.txt
services/docker-compose.yaml
services/token.txt
.ionide/symbolCache.db
services/kube-tools/clients/certificates/ca.crt
services/kube-tools-functions/.vs/functions/project-colors.json
services/kube-tools-functions/.vs/functions/DesignTimeBuild/.dtbcache.v2
services/kube-tools-functions/.vs/functions/config/applicationhost.config
services/kube-tools-functions/.vs/functions/v16/.suo
services/kube-tools-functions/.vs/functions/v17/.futdcache.v1
services/kube-tools-functions/.vs/functions/v17/.suo
.VSCodeCounter/2021-12-06_05-45-23/details.md
.VSCodeCounter/2021-12-06_05-45-23/results.csv
.VSCodeCounter/2021-12-06_05-45-23/results.md
.VSCodeCounter/2021-12-06_05-45-23/results.txt

.env
config.json
config.local.json
config.dev.json
services/gateway/config.json
environments/admin-env.env
environments/azure.env
environments/events-env.env
environments/gateway-env.env
environments/invoker-env.env
environments/kasa-env.env
environments/scheduler-env.env
environments/sync.bat
services/invoker/kube.env

*.env
*.pyc
**/config.json
**/config.dev.json
**/config.local.json
tests/.dockerignore
tests/app.py
tests/Dockerfile
tests/models.py
tests/requirements.txt
tests/utils.py
services/admin-tools/**
services/net-scheduler/.vs/admin-tools/project-colors.json
services/net-scheduler/.vs/admin-tools/DesignTimeBuild/.dtbcache.v2
services/net-scheduler/.vs/admin-tools/v17/.futdcache.v1
services/net-scheduler/.vs/admin-tools/v17/.suo
services/net-scheduler/.vs/admin-tools/v17/TestStore/0/000.testlog
services/net-scheduler/.vs/admin-tools/v17/TestStore/0/testlog.manifest
services/net-scheduler/.vs/net-scheduler/project-colors.json
services/net-scheduler/.vs/net-scheduler/DesignTimeBuild/.dtbcache.v2
services/net-scheduler/.vs/net-scheduler/v17/.futdcache.v1
services/net-scheduler/.vs/net-scheduler/v17/.suo
.VSCodeCounter/2022-02-19_20-16-05/details.md
.VSCodeCounter/2022-02-19_20-16-05/diff-details.md
.VSCodeCounter/2022-02-19_20-16-05/diff.csv
.VSCodeCounter/2022-02-19_20-16-05/diff.md
.VSCodeCounter/2022-02-19_20-16-05/diff.txt
.VSCodeCounter/2022-02-19_20-16-05/results.csv
.VSCodeCounter/2022-02-19_20-16-05/results.json
.VSCodeCounter/2022-02-19_20-16-05/results.md
.VSCodeCounter/2022-02-19_20-16-05/results.txt
scripts/set-az-env.bat
configs/app.py
configs/sync.bat
services/kube-tools/credentials.json
framework/build/lib/framework/__init__.py
framework/build/lib/framework/application/__init__.py
framework/build/lib/framework/application/application.py
framework/build/lib/framework/application/state.py
framework/build/lib/framework/clients/__init__.py
framework/build/lib/framework/clients/identity_client.py
framework/build/lib/framework/clients/keyvault_client.py
framework/build/lib/framework/configuration/__init__.py
framework/build/lib/framework/configuration/configuration.py
framework/build/lib/framework/configuration/sections/__init__.py
framework/build/lib/framework/configuration/sections/security.py
framework/build/lib/framework/constants/__init__.py
framework/build/lib/framework/constants/constants.py
framework/build/lib/framework/crypto/__init__.py
framework/build/lib/framework/crypto/hashing.py
framework/build/lib/framework/diagnostics/__init__.py
framework/build/lib/framework/diagnostics/diagnostics.py
framework/build/lib/framework/exceptions/__init__.py
framework/build/lib/framework/exceptions/authorization.py
framework/build/lib/framework/exceptions/configuration.py
framework/build/lib/framework/handlers/__init__.py
framework/build/lib/framework/handlers/response_handler.py
framework/build/lib/framework/handlers/wrappers/__init__.py
framework/build/lib/framework/handlers/wrappers/diagnostics.py
framework/build/lib/framework/health/__init__.py
framework/build/lib/framework/health/health_bp.py
framework/build/lib/framework/hooks/__init__.py
framework/build/lib/framework/hooks/diagnostic_hooks.py
framework/build/lib/framework/logger/__init__.py
framework/build/lib/framework/logger/providers.py
framework/build/lib/framework/middleware/__init__.py
framework/build/lib/framework/middleware/authorization.py
framework/build/lib/framework/middleware/helpers.py
framework/build/lib/framework/middleware/schemes/__init__.py
framework/build/lib/framework/middleware/schemes/authorization_scheme.py
framework/build/lib/framework/middleware/schemes/scheme_collection.py
framework/build/lib/framework/middleware/wrappers/__init__.py
framework/build/lib/framework/middleware/wrappers/authorization_wrappers.py
framework/build/lib/framework/serialization/__init__.py
framework/build/lib/framework/serialization/utilities.py
framework/build/lib/framework/uri/__init__.py
framework/build/lib/framework/uri/uri.py
framework/build/lib/framework/utilities/__init__.py
framework/build/lib/framework/utilities/datetime_utils.py
framework/build/lib/framework/utilities/pinq.py
framework/build/lib/framework/utilities/url_utils.py
framework/build/lib/framework/validators/__init__.py
framework/build/lib/framework/validators/nulls.py
framework/framework.egg-info/dependency_links.txt
framework/framework.egg-info/PKG-INFO
framework/framework.egg-info/requires.txt
framework/framework.egg-info/SOURCES.txt
framework/framework.egg-info/top_level.txt
services/frontend/.VSCodeCounter/2022-05-11_11-22-59/details.md
services/frontend/.VSCodeCounter/2022-05-11_11-22-59/diff-details.md
services/frontend/.VSCodeCounter/2022-05-11_11-22-59/diff.csv
services/frontend/.VSCodeCounter/2022-05-11_11-22-59/diff.md
services/frontend/.VSCodeCounter/2022-05-11_11-22-59/diff.txt
services/frontend/.VSCodeCounter/2022-05-11_11-22-59/results.csv
services/frontend/.VSCodeCounter/2022-05-11_11-22-59/results.json
services/frontend/.VSCodeCounter/2022-05-11_11-22-59/results.md
services/frontend/.VSCodeCounter/2022-05-11_11-22-59/results.txt
services/tests/frontend/chromedriver.exe
services/tests/frontend/Dockerfile
services/tests/frontend/helpers.py
services/tests/frontend/test_hamburgermenu.py
services/tests/frontend/test_schedulelinkadd.py
services/tests/frontend/test_schedulelinkmenu.py
services/tests/frontend/test_schedulemenu.py
services/tests/frontend/test_schedulenew.py
/services/net-scheduler/net-scheduler-tests/Buildup/Mongo/init-db.js
services/net-scheduler/net-scheduler/appsettings.Development.json
services/gateway/deploy.bat
services/kasa/deploy.bat
services/net-scheduler/net-scheduler/appsettings.json
services/kube-tools/deploy.bat
services/net-scheduler/net-scheduler/appsettings.json
.vs/slnx.sqlite
services/invoker/deploy.bat
.vs/slnx.sqlite
services/kube-tools/oauth.json
services/kube-tools/token.json
services/test/.vscode/extensions.json
services/net-scheduler/net-scheduler/appsettings.Development.json
services/net-scheduler/net-scheduler/appsettings.json
services/frontend/deploy.bat
services/net-reminders/net-reminders/appsettings.Development.json
services/net-reminders/net-reminders/appsettings.json
services/reminders/.vscode/launch.json
/services/kafka
/services/net-kasa
/services/kube-tools/myfitnesspal.json
services/kube-tools/utilities/notebook.ipynb
services/fitness/workbook.ipynb
myfitnesspal.json
workbook.ipynb
.vscode/launch.json
